* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f4f6f8;
  margin: 0;
  padding: 40px 0;
  display: flex;
  justify-content: center;
}

/* Glavni wrapper */
.container {
  width: 100%;
  max-width: 500px;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

/* Naslov */
h1 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
  letter-spacing: 2px;
}

/* Logout gumb */
#logout {
  background: #dc2626;
  margin-bottom: 15px;
}

#logout:hover {
  background: #b91c1c;
}

/* Form */
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;
}

input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

input:focus {
  outline: none;
  border-color: #4f46e5;
}

button {
  padding: 8px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background: #4f46e5;
  color: white;
}

button:hover{
  background-color: #0900ad;
}


/* Seznam taskov */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  background: #f9fafb;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.taskContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.taskContainer span {
  font-size: 14px;
}

.buttonContainer {
  display: flex;
  gap: 8px;
}

/* Task gumbi */
.buttonContainer button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.buttonContainer button:hover{
  background-color: #d6d6d6;
}

.buttonContainer button:first-child {
  color: green;
}

.buttonContainer button:last-child {
  color: red;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}


